@import 'variables';
form {
    .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    textArea,
    input {
        font-size: 13px;
        padding: 7px 7px;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 10px;
        font-family: $app-font;
    }
    label {
        font-size: 13px;
        color: rgb(75, 75, 75);
    }
    button {
        background-color: $green;
        padding: 10px;
        border-style: none;
        font-family: $app-font;
        border-radius: 13px;
        transition: all 0.3s ease;
        &:hover {
            transition: all 0.3s ease;
            opacity: 0.8;
            cursor: pointer;
        }
    }
    select {
        width: 100%;
        font-size: 13px;
        padding: 7px 7px;
        border-radius: 10px;
        margin-bottom: 12px;
        font-family: $app-font;
        border: 1px solid rgb(216, 216, 216);
    }
    .input-error {
        margin-top: 2px;
        font-size: 12px;
        color: rgb(219, 1, 1);
    }
}

.create-form {
    display: flex;
    flex-direction: column;
}